/* BOILERPLATE https://github.com/JamesRobertHugginsNgo/page-width/blob/1.1.0/src/style.css */
/* BOILERPLATE https://raw.githubusercontent.com/JamesRobertHugginsNgo/page-width/refs/tags/1.1.0/src/style.css */

.page-width {
	margin-left: auto;
	margin-right: auto;
	max-width: 70ch;
}
